<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
	<body>
		<div layout:fragment="content">
	        <img  style="width:40%; height:auto" th:src="'/images/' + ${livre.image}">
	        <br>
	        <h3 th:text="'Nombre de pages :' + ${livre.nbPages}"></h3>
	        <br>
	        <h3 th:text="'Nombre d\'exemplaire disponible :' + ${livre.nbExemplaire}"></h3>
			<br>
			<h3>Auteur :</h3> 
			 <p th:if="${livre.auteur != null}">
			    <a th:href="@{/auteurs/{id}(id=${livre.auteur.id})}" th:text="${livre.auteur.nom}"></a>
			 </p>
			 <p th:if="${livre.auteur == null}">Auteur inconnu</p>
			 <h3>Éditeur :</h3> 
			 <p th:if="${livre.editeur != null}">
			     <a th:href="@{/editeurs/{id}(id=${livre.editeur.id})}" th:text="${livre.editeur.nom}"></a>
			 </p>
			 <p th:if="${livre.editeur == null}">Éditeur inconnu</p>
	        <h3>Description :</h3> 
	        <p th:text="${livre.description}"></p>
		</div>
	</body>
</html>  
